.about-main-container {
    background-image: url('../../assets/images/about/aboutHeader.png');
    width: 1440px;
    height: 100vh;
}

.about-container {
    background: rgba(9, 6, 43, 0.90);
    width: 1440px;
    height: 100vh;
    opacity: 0.7;
}

.about-text-container {
    width: 85%;
    margin-left: 112px;
    margin-top: 170px;
}

.about-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text-row p {
    color: var(--ffffff, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-left: 20px;
    margin-bottom: -8px;
}

.about-text-demo {
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
}


.meet-the-teem-rowText p {
    color: var(--ffffff, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 85px;
    margin-left: 16px;
    letter-spacing: -0.2px;
}


.our-teem-text {
    margin-right: 20px;
}

.our-clients-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.our-clients-arow {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    width: 120px;
}

.our-clients-arow img {
    width: 50px;
    height: 50px;

}

.company-culture-container-main {
    width: 1440px;
    height: 536px;
    flex-shrink: 0;
    background: linear-gradient(72deg, #E54125 7.91%, #3F1BDD 27.49%, #3F1BDD 62.29%);
    display: flex;

}

.company-culture-container {
    flex-shrink: 0;
    display: flex;

}

.company-culture-right-sction {
    width: 658px;
    height: 352px;
    flex-shrink: 0;
    margin-left: 112px;
    margin-top: 81px;
}

.company-culture-right-sction h2 {
    width: 510px;
    color: var(--ffffff, #FFF);
    font-family: Helvetica Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

.company-culture-right-sction p {
    width: 658px;
    /* height: 96px; */
    flex-shrink: 0;
    color: var(--f-1-deff, #DBD1F1);
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.company-culture-service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 320px;
}

.company-culture-service img {
    margin-top: -15px;
    margin-right: 16px;
}

.company-culture-lift-sction {
    width: 459px;
    height: 522px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--f-1-deff, #DBD1F1);
    margin-top: 57px;
    margin-left: 99px;
    margin-right: 112px;
    border: 1px solid #DBD1F1;
    padding-top: 25px;
    padding-right: 30px;
}

.company-culture-lift-sction-img {
    margin-left: -30px;
}

.blog-container {
    width: 1440px;
    background: var(--0-f-051-d, #0F051D);
    padding-left: 136px;
}

.blog-main {
    /* margin-left: 136px; */
    padding-top: 156px;
}

.blog-Read-text {
    color: var(--ffffff, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 130.233% */
    letter-spacing: -0.5px;
}

.blog-article {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-article-item {
    width: 360px;
    height: 500px;
    flex-shrink: 0;
    background: var(--Linear, linear-gradient(180deg, rgba(34, 25, 73, 0.00) 0%, #0F051D 100%));
    /* Specify flex properties for each item */
    /* max-width: calc(33.33% - 20px); */
    /* Set max-width to prevent items from growing */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 64px;
    flex-direction: column;
    /* Make items stack vertically */
    justify-content: space-between;
}

.blog-article-item p {
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.blog-article-item-div {
    width: 360px;
    height: 500px;
    flex-shrink: 0;
    background: var(--Linear, linear-gradient(180deg, rgba(34, 25, 73, 0.00) 0%, #0F051D 100%));
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-start;
    padding-left: 32px;
    padding-right: 32px;
}

.blog-article-item-p {
    /* width: 296px; */
    /* height: 61px; */
    /* flex-shrink: 0; */
    align-self: self-start;
}

.blog-article-item-learnMore {
    display: flex;

}

.blog-article-item-learnMore p {
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Linear, linear-gradient(89deg, #4139AB 0.72%, #7315D0 98.86%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-article-item-learnMore img {
    margin-bottom: 12px;
    margin-left: 11px;
}

.blog-article-CustomButton {
    width: 1140px;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
}

.about-body-container {
    width: 1440px;
    background-color: #0F051D;
}