.blogs-container {
    width: 1440px;
    background: var(--0-f-051-d, #0F051D);
}

.blog-main-secsion {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 94px;
}

.about-text-container {
    width: 85%;
}

.about-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text-row p {
    color: var(--ffffff, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-left: 20px;
    margin-bottom: -8px;
}

.about-text-demo {
    width: 1215px;
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
    margin-top: 10px;
}

.our-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
}

.our-tags h1 {
    color: var(--ffffff, #FFF);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 7px;
}

.our-tags-card {
    height: 32px;
    flex-shrink: 0;
    margin-left: 16px;
    text-emphasis-color: #fff;
    border-radius: 4px;
    background: rgba(219, 209, 241, 0.2);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
}

.blog-main-card-wrapper {
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0 10px;
}

.blog-main-rows {
    height: 1750px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 48px;
    justify-content: flex-start;
    gap: auto;
    border-radius: 12px;
}

.blog-main-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-self: stretch;
    flex-shrink: 0;
    margin-right: 30px;
    margin-bottom: 30px;

}

.blog-main-card-img {
    width: 360px;
    height: 249px;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.blog-main-card-container {
    width: 360px;
    background-color: #FFF;
    align-self: stretch;
    padding: 30px;
    border-radius: 0px 0px 12px 12px;
}

.blog-main-card-avatarSection {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.blog-card-username-section {
    display: flex;
    width: 190px;
    height: 45px;
}

.blog-jobtitle-row {
    display: flex;
    align-items: center;
    margin-top: -6px;

}

.blog-jobtitle-row img {
    margin-bottom: 15px;
    margin-right: 8px;
}

.blog-jobtitle-row p {
    color: #5A7184;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.blog-user-name-section {
    margin-left: 20px;
    width: 140px;
}

.blog-user-name-section-p {
    width: 140px;
    max-width: 140px;
    color: #183B56;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-main-card-title {
    width: 296px;
    color: #183B56;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2px;
}

.blog-main-card-description {
    width: 296px;
    color: #183B56;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.blog-card-date {
    margin-top: 15px;
    color: #5A7184;
    text-align: right;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-article-CustomButton {
    width: 1140px;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    margin-bottom: 120px;
}