.blogs-container {
    width: auto;
    background: var(--0-f-051-d, #0F051D);
}

.blog-main-secsion {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 94px;
}

.blog-text-container {
    width: 85%;
}

.blog-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-text-row p {
    color: var(--ffffff, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-left: 20px;
    margin-bottom: -8px;
}

.blog-text-demo {
    max-width: 1215px;
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
    margin-top: 10px;
}

.our-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
}

.our-tags h1 {
    color: var(--ffffff, #FFF);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 7px;
}

.our-tags-card {
    height: 32px;
    flex-shrink: 0;
    margin-left: 16px;
    text-emphasis-color: #fff;
    border-radius: 4px;
    background: rgba(219, 209, 241, 0.2);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: #fff;
}

.blog-main-rows {
    width: auto;
    height: 1626px;
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    border-radius: 12px;

}

.blog-main-card {
    width: 360px;
    height: 249px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 30px; */

}

.blog-main-card-img {
    width: 356px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.blog-main-card-container {
    width: auto;
    height: 100%;
    background-color: #FFF;
    /* margin-bottom: 30px; */
    padding: 30px;
    border-radius: 0px 0px 12px 12px;
}

.blog-main-card-avatarSection {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.blog-card-username-section {
    display: flex;
    width: 190px;
    height: 45px;
}

.blog-jobtitle-row {
    display: flex;
    align-items: center;
    margin-top: -6px;

}

.blog-jobtitle-row img {
    margin-bottom: 15px;
    margin-right: 8px;
}

.blog-jobtitle-row p {
    color: #5A7184;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.blog-user-name-section {
    margin-left: 20px;
    width: 140px;
}

.blog-user-name-section-p {
    width: 140px;
    max-width: 140px;
    color: #183B56;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-main-card-title {
    width: 296px;
    color: #183B56;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2px;
}

.blog-main-card-description {
    width: 296px;
    color: #183B56;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.blog-card-date {
    margin-top: 15px;
    color: #5A7184;
    text-align: right;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-article-CustomButton {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    margin-bottom: 120px;
}

@media (max-width: 480px) {
    .blogs-container {
        width: auto;

        background: var(--0-f-051-d, #0F051D);
    }

    .blog-main-secsion {
        width: auto;
        height: 100%;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 94px;
    }

    .blog-text-container {
        width: 100%;
    }

    .blog-text-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .blog-text-row p {
        color: var(--ffffff, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Helvetica Neue;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.2px;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .blog-text-demo {
        max-width: 100%;
        color: #FFF;
        font-family: Helvetica Neue;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.28px;
        margin-top: 10px;
    }

    .our-tags {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        justify-content: space-between;
    }

    .our-tags-filter {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        left: 30px;
        margin-top: 10px;
        overflow-x: auto;

    }

    .our-tags-card-filter {
        height: 32px;
        flex-shrink: 0;
        margin-right: 10px;
        text-emphasis-color: #fff;
        border-radius: 4px;
        background: rgba(219, 209, 241, 0.2);
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 4px;
        padding-bottom: 6px;
        color: #fff;

    }

    .our-tags h1 {
        color: var(--ffffff, #FFF);
        font-family: Helvetica Neue;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 7px;
    }


    .blog-main-rows {
        width: auto;
        height: 100%;
        display: flex;
        margin-top: 48px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        border-radius: 12px;

    }

    .blog-main-card {
        width: 360px;
        height: 249px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* margin-bottom: 30px; */
        flex-basis: 100%;
        margin-bottom: 16px;

    }

    .blog-main-card-img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        border-radius: 12px 12px 0px 0px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .blog-main-card-container {
        width: auto;
        height: 100%;
        background-color: #FFF;
        /* margin-bottom: 30px; */
        padding: 30px;
        border-radius: 0px 0px 12px 12px;
    }

    .blog-main-card-avatarSection {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .blog-card-username-section {
        display: flex;
        width: 190px;
        height: 45px;
    }

    .blog-jobtitle-row {
        display: flex;
        align-items: center;
        margin-top: -6px;

    }

    .blog-jobtitle-row img {
        margin-bottom: 15px;
        margin-right: 8px;
    }

    .blog-jobtitle-row p {
        color: #5A7184;
        font-family: Helvetica Neue;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .blog-user-name-section {
        margin-left: 20px;
        width: 140px;
    }

    .blog-user-name-section-p {
        width: 140px;
        max-width: 140px;
        color: #183B56;
        font-family: Helvetica Neue;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .blog-main-card-title {
        width: 296px;
        color: #183B56;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.2px;
    }

    .blog-main-card-description {
        width: 296px;
        color: #183B56;
        font-family: Helvetica Neue;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

    }

    .blog-card-date {
        margin-top: 15px;
        color: #5A7184;
        text-align: right;
        font-family: Helvetica Neue;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .blog-article-CustomButton {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 62px;
        margin-bottom: 120px;
    }

    .blog-main-rows-mob {
        margin-top: 55px;

    }

    .blog-main-card-mob {
        margin-top: 30px;
        background-color: #fff;
        border-radius: 12px;
    }
}