.main-contener {
    width: auto;
    background-color: #000;
    padding-top: 42px;
    display: flex;
    flex-direction: column;

}

.brands-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;

}

.container-Barnd {
    margin: 0 10px;
}

.text-row {
    display: flex;
    justify-content: space-between;
    margin-top: 228px;
    margin: 112px;
}

.text-one {
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
    max-width: 379px;
    height: auto;
    flex-shrink: 0;
}

.text-two {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 61px;
    background: radial-gradient(111.96% 125.82% at 1.08% 97.23%, #EB421D 0%, #3F1BDD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 744px;
    max-height: 847px;
    flex-shrink: 0;
    margin-left: 58px;

}

.text-row-one {
    max-width: 317px;
    max-height: 199px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}

.text-row-two {
    max-width: 744px;
    max-height: 504px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;
    margin-left: 58px;
}

.brand-image-animation {
    animation: fade-in 0.5s ease-in-out;
    /* Example animation, you can customize it */
    opacity: 0;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

.main-renderOurWork {
    width: auto;
    padding-left: 120px;
    padding-right: 120px;
}

.category-container::-webkit-scrollbar {
    width: 0.5rem;
}

.category-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.category-container {
    width: auto;
    /* display: flex; */
    flex-wrap: unset;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    white-space: nowrap;
    scrollbar-width: none;

}

.category {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    display: inline-block;
    margin-right: 20px;
}

.category-h2.active {
    width: auto;
    max-height: 80px;
    flex-shrink: 0;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.2px;
    background: linear-gradient(20deg, #E7421C 0.86%, #3F1BDD 20.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.category-h2.non-active {
    width: auto;
    max-height: 80px;
    flex-shrink: 0;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.2px;
    background: linear-gradient(20deg, #201d1c 0.86%, #636264 20.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.category-data {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    height: 1px;
    z-index: 9999;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    background-color: #b20000;
    transition: width 2s, background-color 0.1s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.our-work-div-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-data p.active {
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.2px;
    width: auto;
}

.our-clients-contener {
    flex-direction: column;
    align-items: center;
    margin-left: 112px;
    margin-right: 100px;
    margin-top: 129px;
}

.our-clients-contener h1 {
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.our-clients-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.our-clients-arow {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    max-width: 120px;
}

.our-clients-arow img {
    max-width: 50px;
    max-height: 50px;

}

.our-clients-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
}

.our-clients-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    /* width: calc(25% - 20px); */
    height: 120px;
    margin-top: 50px;
}

.world-sction-container {
    background-image: url("../../assets/images/worldbg.svg");
    height: 677px;
    width: auto;
    /* margin-left: 32px;
    margin-right: 40px; */
    background-size: cover;
}

.world-sction-main {
    max-width: 1368px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.world-sction-main h1 {
    max-width: 827px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -1px;
}

.world-sction-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 900px;
    margin-top: 65px;

}

.section {
    flex-basis: calc(33.33% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

.column {
    flex-basis: 50%;
    text-align: center;

}

.image-between {
    max-width: auto;
    height: 194px;
    margin: 0 10px;
    margin-right: 50px;
    margin-left: 20px;
}

.section-column-number {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.3px;
    background: linear-gradient(140deg, #E34027 0%, #3F1BDD 60.73%, #3F1BDD 79.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-column-text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.2px;
}

.ourclients-costum-styles {
    margin-bottom: 40px;
}

@media (max-width: 480px) {
    .main-contener {
        width: auto;
        background-color: #000;
        display: flex;
        flex-direction: column;

    }

    .brands-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
    }

    .container-Barnd-row img {
        width: 141.103px;
        height: 44.706px;
    }

    .text-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 0px;
    }

    .text-one {
        color: #FFF;
        font-family: Helvetica Neue;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.5px;
        max-width: 379px;
        flex-shrink: 0;
    }

    .text-two {
        font-size: 25px;
        font-style: normal;
        font-family: Helvetica Neue;
        letter-spacing: .5px;
        line-height: 30px;
        font-weight: 500;
        background: radial-gradient(111.96% 125.82% at 1.08% 97.23%, #EB421D 0%, #3F1BDD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: auto;
        height: 0%;
        flex-shrink: 0;
        margin-left: 0px;
        margin-top: 0px;

    }

    .text-row-one {
        width: auto;
        height: 0%;
        flex-shrink: 0;
        color: #FFF;
        font-family: Helvetica Neue;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.5px;
    }

    .text-row-two {
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        background: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        margin-left: 0px;
        letter-spacing: 0.5px;
        line-height: 40px;
    }

    .main-renderOurWork {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .category-container {
        width: auto;
        margin-left: 0px;
        margin-top: 0px;
        white-space: unset;
        overflow-x: unset;


    }

    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .fade-in.active {
        opacity: 1;
        transform: translateY(0);
    }

    .category {
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        max-width: 100%;

    }

    .category h2 {
        width: auto;
        height: auto;
        flex-shrink: 0;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.2px;
        background: linear-gradient(89deg, #E7421C 0.86%, #3F1BDD 44.84%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .category-data {
        display: flex;
        flex-direction: column;
        max-width: 220px;
    }

    .our-work-div-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category-data p {
        flex-shrink: 0;
        color: #FFF;
        font-size: 16px;
        font-style: bold;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0px;
        width: auto;
    }

    .our-clients-contener {
        flex-direction: column;
        align-items: center;
        margin-left: 112px;
        margin-right: 100px;
        margin-top: 129px;
    }

    .our-clients-contener h1 {
        color: #FFF;
        font-family: Helvetica Neue;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }

    .our-clients-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .our-clients-arow {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-between;
        max-width: 120px;
    }

    .our-clients-arow img {
        max-width: 50px;
        max-height: 50px;

    }

    .our-clients-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: auto;
    }

    .our-clients-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: calc(25% - 20px);
        max-height: 120px;
        margin-top: 50px;
    }

    .world-sction-container {
        background-image: url("../../assets/images/homebackGround/worldbg.svg");
        height: auto;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 60px;
        background-size: cover;
    }

    .world-sction-main {
        max-width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .world-sction-main h1 {
        max-width: 300px;
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Helvetica Neue;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1px;
    }

    .world-sction-number {
        flex-direction: row;
        align-items: center;
        width: auto;
        margin: 20px;
    }

    .section {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .image-between {
        max-width: auto;
        height: 80px;
        margin: 0;
        margin-top: -20px;
    }

    .section-column-number {
        font-size: 48px;
    }

    .section-column-text {
        font-size: 16px;
        text-align: center;
    }

    .prev-next-buttons {
        width: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    .our-work-arow {
        margin: 0;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our-work-arow img {
        width: 20px;
        height: 20px;
    }


}