.home-contener-main {
    background-color: hwb(0 0% 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}

.home-contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}