.home-contener-main {
    background-color: hwb(0 0% 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;

}

.home-contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-contener-Navbar {
    width: 100%;
    height: auto;
    position: fixed;
}


.home-contener-Navbar.hidden {
    display: none;
}

.background-light {
    background-color: #000000;
    /* Change this to the light color you want */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}