.image-row {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: transparent;
    /* position: absolute;
    top: 0%; */
}

.left-images {
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
    margin-left: 112px;

}

.image {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.right-image {
    width: 213px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-right: 112px;
}

.menu-image {
    max-width: 100%;
    height: auto;
}

.buttom {
    display: flex;
    margin-left: 31px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 48px;
}

.bottom-text {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

/* styles.css */
.custom-button {
    background-color: #0074d9;
    /* Background color */
    color: white;
    /* Text color */
    padding: 10px 20px;
    /* Padding */
    border: none;
    /* Remove default button border */
    cursor: pointer;
    /* Change cursor on hover */
}

.custom-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .image-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .left-images {
        display: flex;
        justify-content: flex-end;
        margin-top: 26px;
        margin-left: 10px;

    }

    .image {
        width: 72.001px;
        height: 42px;
        max-width: 100%;
        height: auto;
        margin: 0 10px;
    }

    .right-image {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 26px;
        margin-right: -150px;
    }

    .menu-image {
        width: 25px;
        height: 26px;
        max-width: 100%;
        height: auto;
    }

    .CustomButton {
        display: none;
    }

    /* 
    .menu-close {
        display: flex;
        position: absolute;
        right: 10px;

    } */

}


@media (max-width: 480px) {
    .image-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .left-images {
        display: flex;
        justify-content: flex-end;
        margin-top: 26px;
        margin-left: 10px;

    }

    .image {
        width: 72.001px;
        height: 42px;
        max-width: 100%;
        height: auto;
        margin: 0 10px;
    }

    .right-image {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 26px;
        margin-right: -150px;
    }

    .menu-image {
        width: 25px;
        height: 26px;
        max-width: 100%;
        height: auto;
    }

    .CustomButton {
        display: none;
    }

    /* 
    .menu-close {
        display: flex;
        position: absolute;
        right: 10px;

    } */

}