.footer-container {
    background-color: #0F051D;
    color: #fff;
    padding: 20px;
    width: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-texts-container {
    margin-left: 76px;
    margin-top: 91px;
}

.footer-texts-container p {
    max-width: 85%;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
}

.footer-category-main {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 40%;
    margin-top: 90px;
}

.footer-category {
    margin-bottom: 20px;
    margin-left: 55px;
    margin-bottom: 70px;
}

.footer-category h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-category-data p {
    margin: 0 0 5px;
    color: var(--f-1-deff, #DBD1F1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.footer-image {
    width: auto;
    text-align: center;
}

.footer-image img {
    max-width: 80%;
}

.footer-data-container {
    display: flex;
    margin-left: 120px;
}

.link-no-style {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 480px) {
    .footer-container {
        background-color: #0F051D;
        color: #fff;
        padding: 20px;
        width: auto;
    }

    .footer-row {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        /* align-items: ; */
        margin-bottom: 20px;
    }

    .footer-texts-container {
        margin-left: 15px;
        margin-top: 40px;
    }

    .footer-texts-container p {
        max-width: 100%;
        height: auto;
        max-height: 41px;
        flex-shrink: 0;
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Helvetica Neue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.2px;
        margin-right: 20px;
    }

    .footer-category-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: unset;
        flex: 1;
        max-width: 100%;
        margin-top: 40px;
        width: 100%;
        padding-right: 40px;
    }

    .footer-category {
        margin-bottom: 20px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .footer-category h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .footer-category-data p {
        margin: 0 0 5px;
        color: var(--f-1-deff, #DBD1F1);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Helvetica Neue;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 16px;
    }

    .footer-image {
        width: auto;
        text-align: center;
    }

    .footer-image img {
        max-width: 320px;
    }

    .footer-data-container {
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
        width: 100%;
    }

    .link-no-style {
        text-decoration: none;
        color: inherit;
    }

}