.our-client-contener-main {
    flex-direction: column;
    align-items: center;
    margin-left: 112px;
    margin-right: 100px;
    margin-top: 129px;
    height: auto;
}

.our-client-contener-main h1 {
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.our-clients-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.our-clients-arow {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    width: 120px;
}

.our-clients-arow img {
    width: 50px;
    height: 50px;

}

.our-clients-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.our-clients-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: calc(25% - 20px);
    height: 120px;
    margin-top: 50px;
}

@media (max-width: 480px) {
    .our-client-contener-main {
        margin: 20px;
        height: auto;
        margin-left: 40px;
    }

    .our-client-contener-main h1 {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 20px;
    }

    .our-clients-row {
        flex-direction: column;
        align-items: center;
    }

    .our-clients-arow {
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .our-clients-arow img {
        width: 40px;
        height: 40px;
    }

    .our-clients-images {
        justify-content: flex-start;
    }

    .our-clients-logo {
        width: calc(50% - 20px);
        margin: 5px;
        margin-top: 20px;
    }

    /* 
    .our-clients-logo:nth-child(n+5) {
        display: none;
    } */
}